@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    60, Hebert Macauly way<br />
    Yaba, Lagos<br />
    <abbr title="Phone">Phone:</abbr>
    +234 809 097 9807
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tobainocycle@yahoo.com">Admin@paoyekindustry.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@paoyekindustry.com</a>*@
</address>