@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p align="center">PAOYEK VENTURES is an indigenous firm that's registered under the CAC with the registration number RC 570989.</p>
<p>OUR SERVICES INCLUDES:</p> <br />

<h3 style="color:darkred">LOGISTICS SRVICES</h3>
<p>We deliver goods / packages within and Lagos at affordable rates. Our service operation is within 1-3 working days but carries out express delivery of a day </p>
<p>With us, you can be rest assured your goods are in safe hands as your ultimate satisfaction is our priority</p>
<p>get in touch for all sort of delivery purposes household items, letters, proposals, e.t.c</p>

<br /><br />

<h3 style="color:darkred">GENERAL MERCHANT / CONTRACTOR SRVICES</h3>
<p>We are equiped to carry out the purchase, delivery, setting up of household items and office equipments</p>
<p>Our proficiency has positioned us to conduct effective job delivery in painting, bricklaying, tiling, Alluminium works</p>
<p>get in touch for all related tasks</p>

<br /> <br />


<h3 style="color:darkred">AGENCY SRVICES</h3>
<p>We help in the rent / lease of house and office space</p>
<p>get in touch for all related requests</p>

