@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Prince oyekan street, Aboru<br />
    Alimosho, Lagos<br />
    <br />
    Dairy farm estate / Majekodunmi Plaza<br />
    Agege, Lagos<br />
    <abbr title="Phone">Phone:</abbr>
    +234 806 500 9319
    +234 809 097 9807
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tobainocycle@yahoo.com">paoyekventures@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@paoyekindustry.com</a>*@
</address>