@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>PAOYEK INDUSTRY is an indigenous firm that's registered under the CAC with the registration number RC 570989.</p>
<p>We offer whole sales of Oil and Gas with 4% discount for seven straight purchase</p>
<p>We sell of sorts of industrial blocks 6 inches, 9 inches, interlocks, cements at affordale and free delivery service </p>
